body{
  background-color: #fff;
}

.form-group label{
  font-weight: bold;
  display: inline-block;
  width: 80px;
  vertical-align: top;
}

.table-list{
  width: calc(100% - 15px);
  border: #ccc solid 1px;
  margin-top: 15px;
}

.table-list thead tr{
  background-color: #eee;
}

.table-list td {
  border-left: #ccc solid 1px;
}

.table-list thead{
  font-weight: bold;
}

.invoice-amount{
  text-align: right;
  margin: 10px 15px 0;
  font-size: 1.3em;
}

/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
